{% extends 'bookmark/base.html' %}
{%load newfilters%}
{%block body_block%}
        <h1>Pages in {{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item"><a href="{{ page.url }}" >{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">No pages in {{ category_name }}</h3>
				</div>
			</div>
            {% endif %}
			<ul>
                <a class="list-group-item list-group-item-info" href="/bookmark/category/{{ category_name_url }}/add_page#content_block/">Add a New Page</a>
            </ul>
        {% else %}
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Error: The specified category ({{ category_name }}) does not exist!</h3>
				</div>
			</div>
        {% endif %}
{%endblock%}