{% extends 'bookmark/base.html' %}
{%load newfilters%}
{%block body_block%}
        {% if user.is_authenticated %}
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Authenticated:</h3>
			</div>
			<div class="panel-body">
				{{ text }}
			</div>
		</div>
		{% else %}
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Error:</h3>
			</div>
			<div class="panel-body">
				You are not logged in
			</div>
		</div>
		{% endif %}
{%endblock%}